config.stopBubbling=true
lombok.addLombokGeneratedAnnotation = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += javax.validation.constraints.NotBlank
lombok.copyableAnnotations += javax.validation.constraints.NotEmpty
lombok.copyableAnnotations += javax.validation.constraints.NotNull
